body{
    background-color: #3B185F;
    color: burlywood ;

}

.navbar {
    
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #FEBE8C;
    
}
.navbar-brand{
    font-size: 2.5em;
    font-weight: bold;
    color: #FEBE8C;
}
.navbar-nav  li a {
    color: #FEBE8C;
    margin: 0px 20px;
    
}
.navbar-nav  li a:hover {
    color: plum !important;
    
}

.jumbotron {
    padding-top:100px;
    margin-top:20px ;
    text-align: center;
}

.secret-text{
    text-align: center;
    font-size: 2rem;
    color:#3B185F;
    background-color: #F0CAA3;
    padding: 10px 5px;
    margin: 20px ;
}

.container{
    align-items: center;

}

.row{
    margin-top:20px;
}

form{
    margin-top: 20px;
    text-align: left;
} 

 .form-group{
   margin: 10px;
}

label{
    font-weight: bolder;
    
}

input{
    width: 100%;
    display: inline-block;
    padding: 5px 10px;
    margin: 4px 0;
}
.btn {
    background: #A3C7D6;
    background-image: -webkit-linear-gradient(top, #F0CAA3, #FEBE8C);
    background-image: -moz-linear-gradient(top, #F0CAA3, #FEBE8C);
    background-image: -ms-linear-gradient(top, #F0CAA3, #FEBE8C);
    background-image: -o-linear-gradient(top, #F0CAA3, #FEBE8C );
    background-image: linear-gradient(to bottom, #F0CAA3, #FEBE8C );
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 10px;
    font-family: Arial;
    color: #3B185F;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 10px;
  }
  
  .btn:hover {
    background: purple;
    background-image: -webkit-linear-gradient(top, #DC5F00, #3B185F);
    background-image: -moz-linear-gradient(top, #DC5F00, #3B185F);
    background-image: -ms-linear-gradient(top, #DC5F00, #3B185F);
    background-image: -o-linear-gradient(top, #DC5F00, #3B185F);
    background-image: linear-gradient(to bottom, #DC5F00,  #3B185F );
    text-decoration: none;
    color:#F0CAA3;
  }


/* .footer-padding {
	padding-bottom:60px;
} */

.footer p {
    text-align: center;
	margin: 150px;
	font-size: 12px;
    
} 